<h2 class="display-4 txt-fx slide-up">Education</h2>
<div class="data-info py-3" data-aos="fade-up">
  <span class="meta-date">2018-2022</span>
  <h3 class="info-title">Graduated high school National College Onisifor Ghibu Oradea</h3>
  <p>Profile mathematics and informatics</p>
</div>
<div class="data-info" data-aos="fade-up" data-aos-delay="100">
  <span class="meta-date">2022 - 2026</span>
  <h3 class="info-title">University of Oradea IETI</h3>
  <p>Specialisation: Computer Science</p>
</div>
