<ul class="list-unstyled d-flex justify-content-start flex-wrap gap-3">
  <li>
    <a href="https://www.facebook.com/mada.petruadrian" target="_blank">
      <app-facebook-icon></app-facebook-icon>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/madapetruadrian/" target="_blank">
      <app-instagram-icon></app-instagram-icon>
    </a>
  </li>
  <li>
    <a href="https://github.com/MadaPetru" target="_blank">
      <app-github-icon></app-github-icon>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/mada-petru-4b225b23a/" target="_blank">
      <app-linkedin-icon></app-linkedin-icon>
    </a>
  </li>
  <li>
    <a href="https://leetcode.com/user8541nn/" target="_blank">
      <app-leetcode-icon></app-leetcode-icon>
    </a>
  </li>
</ul>
