<section id="home" class="py-5 bg-text" data-text="01">
  <div class="row">
    <div class="col-lg-6">
      <div class="banner-image text-center" data-aos="fade-right">
        <img src="assets/poza-tip-buletin.jpg" alt="banner" class="img-fluid" class="img-fluid">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="banner-content my-1 pt-1 my-lg-5 pt-lg-5" data-aos="fade-in">
        <span class="text-muted text-uppercase">{{personProfession}}</span>
        <h1 class="banner-title display-xl lh-1 txt-fx slide-up">{{personName}}</h1>
      </div>
    </div>
  </div>
  <app-professions></app-professions>
</section>
