<section id="about" class="my-5 py-5 bg-text" data-text="02">
  <div class="row d-flex flex-wrap" data-aos="fade-up">
    <div class="col-lg-6 pb-5">
      <app-education></app-education>
    </div>
    <div class="col-lg-6 pb-5">
      <h2 class="display-4 txt-fx slide-up">Descriptions</h2>
      <div class="data-info py-3" data-aos="fade-up">
        <p>I can say about me that i am a fan of football, i love playing that game
          So am i person that like to do sports, also i am a hard working person
          I love doing gardening , farming, be close to the nature, feeling amazed of what we got and be grateful and
          blessed. <br>
          Also the people describe me as being a good friend, faithful, eager to help and share knowledge, person with a
          big heart, very eager to learn more and more and keep the work as good as possible. <br>
        </p>
      </div>
    </div>
  </div>
  <div class="row d-flex flex-wrap" data-aos="fade-up">
    <div class="col-lg-6 pb-5">
      <div class="data-info" data-aos="fade-up" data-aos-delay="100">
        <span class="meta-date">2019 - 2020</span>
        <h3 class="info-title">High School Informatics Olympiad</h3>
        <p>First place on county, national olympiad canceled due to covid</p>
      </div>
      <div class="data-info" data-aos="fade-up" data-aos-delay="100">
        <span class="meta-date">2021 - 2022</span>
        <h3 class="info-title">High School Informatics Olympiad</h3>
        <p>Second place on county, with participation to national olympiad</p>
      </div>
    </div>
    <div class="col-lg-6 pb-5">
      <app-information-table></app-information-table>
    </div>
  </div>
</section>
