<section id="experience" class="my-5 py-5 bg-text" data-text="03">
  <div class="row justify-content-center mb-5">
    <div class="col-lg-6" data-aos="fade-up">
      <h1 class="display-1 txt-fx slide-up">Experiences</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="info-element py-4" data-aos="fade-up">
        <div class="data-info" data-aos="fade-up" data-aos-delay="300">
          <span class="meta-date">2022 - present</span>
          <h3 class="info-title">Global Logic: Backend Developer</h3>
          <p>Implement new features, debugging.</p>
          <p>Technologies worked on:<br>
            - Springboot<br>
            - Postgresql<br>
            - Docker<br>
            - Jira<br>
            - Confluence<br>
            - Git, github<br>
            - Cucumber<br>
            - Junit<br>
            - Test containers</p>
        </div>
      </div>
    </div>
  </div>
</section>
