<section id="portfolio" class="my-5 py-5 bg-text" data-text="03">
  <div class="row justify-content-center mb-5">
    <div class="col-lg-6" data-aos="fade-up">
      <h1 class="display-1 txt-fx slide-up">Projects</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="info-element py-4" data-aos="fade-up">
        <div class="data-info" data-aos="fade-up" data-aos-delay="300">
          <h3 class="info-title">Gorilla Shop</h3>
          <p>Implemented with springboot, java 17 as backend and with angular, typescript on frontend <br></p>
          <p>Also integrate CI pipeline with github actions to ensure that unit tests passed and the code can be built
            for merge requests with Sonar Cloud</p>
          <p>Deployment was manual, on render deploy docker images separately for springboot and for angular</p>
          <p>Idea of this app was for an online shop for clothing, only feature that i need to implement was payment and
            fix the images displayed for each product</p>
          <div class="image-holder">
            <img src="assets/poza%20gorrila%20shop.png"
                 alt="portfolio" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="info-element py-4" data-aos="fade-up">
        <div class="data-info" data-aos="fade-up" data-aos-delay="300">
          <h3 class="info-title">Chat app</h3>
          <p>Implemented with c#, .net forms application with websockets for my high school license project<br></p>
          <p>Idea of this app was that you need to have this app on both machine and get the others ip and port on which
            the app is running and the websocket stream will be connected after pressing the connect button</p>
          <div class="image-holder">
            <img src="assets/chat-app-img.png"
                 alt="portfolio" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="info-element py-4" data-aos="fade-up">
        <div class="data-info" data-aos="fade-up" data-aos-delay="300">
          <h3 class="info-title">Many others on my github repository</h3>
          <p>Other some projects on my github repository, i just started but did not have time to finish or advance more
            in those ideas<br></p>
        </div>
      </div>
    </div>
  </div>
</section>
